@media screen and (max-width: 1200px) {
	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	h1 {
		width: 100%;
		padding: 0 30px;
	}

	img {
		max-width: 100%;
	}
	
	.hero {
		background-position: center center;
		height: auto;
		font-size: 42px;
		transition: all 500ms ease;
	}

	.hero p {
		line-height: normal;
		color: #FFF;
		text-shadow: none;
	}

	.intro {
		width: 100%;
		-webkit-column-count: 1;
		-moz-column-count: 1;
		-ms-column-count: 1;
		-o-column-count: 1;
		column-count: 1;
		padding: 30px;
	}

	.highlights {
		width: 100%;
		padding: 30px;
	}

	.highlights figure {
		float: none;
		width: 100%;
		margin: 0 0 30px 0;
		border-bottom: 1px dashed #DDD;
	}

	.highlights figure:before {
		content: "";
		display: none;
	}

	.highlights img {
		max-width: 100%;
		margin: 0 auto;
	}
}