* {
	margin: 0;
}

html, body {
	height: 100%;
	font-family: Lato;
}

body > header {
	position: fixed;
	height: 60px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.35);
	width: 100%;
	background: #FFF;
	line-height: 60px;
	z-index: 1;
}

h1 {
	width: 1200px;
	margin: 0 auto;
	font-weight: bold;
	font-size: 24px;
}

#logo {
	float: right;
	margin-top: 10px;
	transform: rotate(0);
	transition: all 200ms linear;

	animation-name: rotate;
	animation-duration: 0.5s;
	animation-iteration-count: 3;
	animation-timing-function: linear;
}

#logo:hover {
	animation-name: rotate;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes rotate {
	from {
		-moz-transform: rotate(0);
		-ms-transform: rotate(0);
		-o-transform: rotate(0);
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}

	to {
		-moz-transform: rotate(120deg);
		-ms-transform: rotate(120deg);
		-o-transform: rotate(120deg);
		-webkit-transform: rotate(120deg);
		transform: rotate(120deg);
	}
}

main {
	min-height: 100%;
	/* equal to footer height */
	margin-bottom: -80px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 60px;
}

main:after {
	content: "";
	display: block;
}

body > footer, main:after {
	/* .push must be the same height as footer */
	height: 90px; 
}

body > footer {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 90px;
	text-align: center;
	color: #FFF;
	background: linear-gradient(0deg, #2e2e2e 75%, #101010 100%);
}

.hero {
	height: 400px;
	background: url("Images/hero.jpg") center top fixed;
	padding: 80px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 60px;
	text-align: center;
	letter-spacing: -3px;
	color: #FFF;
	text-shadow: 0 0 30px rgba(0,0,0,0.75);
}

.hero strong {
	display: block;
	font-size: 72px;
}

.description {
	width: 1200px;
	margin: 0 auto 30px auto;
	padding: 30px 30px 0;
	text-align: justify;
	line-height: 1.5;
	color: #444;
	position: relative;
	z-index: 0;
	border-top: 1px dotted #c0c0c0;
	box-sizing: border-box;
	font-size: 14px;
}

.description .image {
	float: left;
	width: 50%;
}

.description .text {
	float: right;
	width: 50%;
}

.description p {
	margin-bottom: 1.5em;
}

.description .text img {
	float: right;
	margin: 0 0 30px 30px;
}

.description:after {
	content: "";
	display: table;
	clear: both;
}

.features {
	width: 1200px;
	margin: 30px auto;
	padding: 0 30px;
	box-sizing: border-box;
}

.features:after {
	content: "";
	display: table;
	clear: both;
}

.features figure {
	float: left;
	margin-left: 30px;
	margin-bottom: 30px;
	display: block;
	width: 360px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.features figure:nth-child(3n-2) {
	margin-left: 0;
	clear: left;
}

.features img {
	display: block;
}

.features figure:before {
	content: "click to read more...";
	line-height: 50px;
	height: 50px;
	background: #666;
	position: absolute;
	top: -50px;
	left: 0;
	right: 0;
	padding: 0 10px;
	color: #ffffff;

	-webkit-transition: top 500ms ease;
	-moz-transition: top 500ms ease;
	-ms-transition: top 500ms ease;
	-o-transition: top 500ms ease;
	transition: top 500ms ease;
}

.features figure:hover:before {
	top: 0;
}

.features figcaption {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px 0;
	line-height: 1.5;
	font-size: 14px;
	text-align: justify;
}

.features figcaption strong {
	display: block;
	font-weight: bold;
	font-size: 24px;
}
